.App {
  text-align: center;
  margin: 0
}

#header {
  background-color: rgba(146, 204, 163, 0.877);
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
  padding-top: 50px
}

#header-list {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px
}

#buttons {
  display: flex;
  flex-direction: row;
  flex-flow: row-reverse;
}

.button {
  margin-left: 5px
}

/* need to add mediaquery for header */

.title {
  font-size: 2em;
}


.addItem {
  display: flex;
  flex-flow: row;
  margin-right: -15px;
  margin-bottom: 10px;
  justify-content: flex-end
}

.addItem p {
  padding-right: 5px;
  margin-bottom: 0;
  align-self: center
}

.addForm {
  margin-bottom: 10px
}

#listItem {
  border: 0.1em solid lightgrey;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px
}

